html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh
}

.header {
    border: 2px solid rgba(255, 255, 255, 0.5);;
    display: flex;
    width: 45vh;
    height: 10vh;
    padding: 8px;
    padding-left: 50px;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.199);;
}

.score {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 50px;
    align-items: center;
}

.running-count {
    display: flex;
    justify-content: space-between;
}

.score>p {
    height: 5px;
    aspect-ratio: 1;
    padding-bottom: 5px;
    margin-top: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.icons-container {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 450px;
    padding-top: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.5);;
    gap: 1px;
}

.image-circular-border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    max-height: 180px;
    aspect-ratio: 1;
    flex-shrink: 1;
}

.icon {
    aspect-ratio: 1;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
}

div.icons-container img:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25%;
}

.round-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

button {
    margin-top: 1%;
    background-color: grey;
    color: rgba(255, 255, 255, 0.8);;
}

.round-icons-container {
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height:200px; 
    flex-wrap: nowrap;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    gap: 1px;
}

.winner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.winner-icon {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.5);;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

.play-text {
    font-size: 32px;
}

p {
    color: white;
}


.footer-container {
    display: flex;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.199);
    align-items: center;
    padding-left: 5px;
}

